/* cells of same size */
/*
.row {
	overflow: hidden;
}

[class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.seminar-ordinary {
	background-color: #bbbbbb;
	float: none;
    display: table-cell;
    vertical-align: top;
    position: relative;
}
*/


/*
.row {
  display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    horizontal-align:
    position: relative;
}*/

/*.row{
	flex-direction: row;
	display: flex;
}

[class*="col-"] {
	display: flex;
	flex-direction: column;
}*/

.button-container {
	width: 100%;
	height: 90px;
	position: absolute;
	bottom: 0px;
}
/*
.seminar-body {
	margin-bottom: 90px;
}*/

.seminar-ordinary {
	background-color: #bbbbbb;
	border-style: solid;
	border-width: 1px;
}

.seminar-important {
	background-color: RGB(255, 230, 150);
}
